<div class="container mt-5 d-flex gap-5 flex-wrap">
    {{#each products}}
    <div class="card rounded-0" style="width: 18rem;">
        <img src="{{this.thumbnails.one}}" alt="{{this.title}}" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-title">{{this.brand}}</h5>
            <p class="card-text">{{this.title}}</p>
            <p class="card-text">${{this.price}}</p>
            <a href="#" class="btn bg-danger text-white rounded-0 fs-6">Ver Producto</a>
        </div>
    </div>
    {{/each}}
</div>